body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

form {
    display: grid;

    grid-template-areas:
      "labels"
      "controls";

    grid-template-rows: 2em;
    grid-template-columns: 1fr;
    grid-gap: .8em;
    padding: 1.2em;
}
form > label  {
    grid-column: labels;
    grid-row: auto;
}
form > input,
form > select,
form > textarea,
form > button {
    grid-column: controls;
    grid-row: auto;
    border: none;
    padding: 1em;

    background-color: #eee;
}

form > button {
    border: 0;
    background: gray;
    color: white;
}

form > button:hover {
    cursor: pointer;
}

form > #form-alert {
    grid-column: controls;
}
